{% load static %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_blah.css' %}">
</head>
<body>

<div class="header">
    <img src="{% static 'images/blah.png' %}" width="50" height="50">
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">More</a></li>
        <li><a href="https://github.com/">My github</a></li>
    </ul>
</div>

<div class="main-content">
    <h2>Article</h2>
    <ul class="articles">

        <li>
            <img src="{% static 'images/0001.jpg' %}" width="100" height="91">

            <div class="article-info">
                <h3><a href="#">One</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">fun</span>
                    <span class="meta-cate">chat</span>
                </p>
                <p class="description">Created by TwistedW.</p>
            </div>

            <div class="rate">
                <span class="rate-score">4.5</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/0002.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">Two</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">fun</span>
                    <span class="meta-cate">chat</span>
                </p>
                <p class="description">Created by TwistedW.</p>
            </div>

            <div class="rate">
                <img src="{% static 'images/Fire.png' %}" width="18" height="18">
                <span class="rate-score">5.0</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/003.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">Three</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">fun</span>
                    <span class="meta-cate">chat</span>
                </p>
                <p class="description">Created by TwistedW.</p>
            </div>

            <div class="rate">
                <span class="rate-score">3.5</span>
            </div>
        </li>

        <li>
            <img src="{% static 'images/0004.jpg' %}" width="100" height="91">
            <div class="article-info">
                <h3><a href="#">Four</a></h3>
                <p class="meta-info">
                    <span class="meta-cate">fun</span>
                    <span class="meta-cate">chat</span>
                </p>
                <p class="description">Created by TwistedW.</p>
            </div>

            <div class="rate">
                <span class="rate-score">3.0</span>
            </div>
        </li>
    </ul>
</div>

<div class="footer">
    <p>&copy; QQ:2359375192</p>
</div>
</body>

</html>